<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.producta">

    <application
        android:allowBackup="true"
        android:icon="@drawable/symbologo"
        android:label="StARS"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProductA">
        <activity android:name=".View.ConfirmFinalOrderActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.ProductDetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Model.Renter"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.CartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.SearchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.SignUpActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.SlidersActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>